body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #275d86, #580a0a);

}
nav {
    background: linear-gradient(to bottom, #353738, #000000);
    height: 10vh;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul li {
    margin: 0 10px;
    font-family: 'Josefin Sans', sans-serif;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(251, 255, 0);
}

.noticia1 h1{
    color: rgb(8, 233, 222);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 5vh;
}

.noticia1 h2{
    color:rgb(25, 182, 174);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.noticia1 h3{
    color:rgb(25, 182, 174);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.noticia1 h4{
    color: #ffffff;
    margin-top: -1vh;
    font-size: 3vh;
    font-family: 'Josefin Sans', sans-serif;
    text-align: start;
    
}

section {
    max-width: 800px;
    margin: 0 auto;
}
